h1{
    font-size: xx-large;
    color: white;
    background:url(https://img.freepik.com/vetores-gratis/fundo-abstrato-amarelo-e-preto-com-textura-suja-de-grunge_1017-28559.jpg?w=826&t=st=1670830658~exp=1670831258~hmac=d5776f38757be99375bbf8bdd79e80b22a54c3b3bf9583231b0e6dec9c41e2ee)
   
}
body{
   background:url(https://i.pinimg.com/originals/9d/8c/8a/9d8c8aaad6843aaf8d9533bb01f29980.jpg);
    text-align: center;

}
.container{
    color: white;
    background-color: darkorange;
}
p{
    color: orange;
    

}


  